{% extends "layout.njk" %}

{% block content %}
<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password">Routine</label>
    <select name="routine" class="form-control">
      {% for routine in routines %}
        <option value="{{ routine.id }}">{{ routine.name }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}