{% extends "layout.njk" %}

{% block content %}

{% if not user.isAuthenticated %}
  <div class="alert alert-info">Welcome to the CoopCycle bots GUI. <a href="/login">Login</a> with your CoopCycle account to get started.</div>
{% endif %}

{% if user.isAuthenticated and not hasRole('ROLE_ADMIN') and not isConfigured %}
  <div class="alert alert-warning">Bot not configured yet. <a href="/settings">Let's go.</a></div>
{% endif %}

<h2>Couriers</h2>

<table id="couriers" class="table">
  <thead>
    <th></th>
    <th>Username</th>
    <th>Routine</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  {% for courier in couriers %}
  <tr data-courier-id="{{ courier.id }}" class="warning">
    <td><a href="#">#{{ courier.id }}</a></td>
    <td>{{ courier.username }}</td>
    <td>{{ courier.routine.name }}</td>
    <td><strong><span class="status"></span></strong></td>
    <td>
    {% if (user.isAuthenticated and user.username == courier.username) or hasRole('ROLE_ADMIN') %}
      <button type="button" class="btn btn-xs btn-success pull-right start-stop" data-status="">Start bot</button>
    {% else %}
      <button type="button" class="btn btn-xs btn-success pull-right start-stop disabled" data-status="">Start bot</button>
    {% endif %}
    </td>
    <td>
    {% if hasRole('ROLE_ADMIN') %}
      <form method="post" action="/couriers/{{ courier.id }}/delete">
        <button type="submit" class="pull-right btn btn-xs btn-danger">Delete bot</button>
      </form>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if hasRole('ROLE_ADMIN') %}
<a class="btn btn-primary" href="/couriers/new">Add a courier bot</a>
{% endif %}

<hr>

<h2>Customers</h2>

<table id="customers" class="table">
  <thead>
    <th></th>
    <th>Username</th>
    <th>Frequency</th>
  </thead>
  <tbody>
  {% for customer in customers %}
  <tr>
    <td><a href="#">#{{ customer.id }}</a></td>
    <td>{{ customer.username }}</td>
    <td>{{ customer.frequency }}</td>
    <td>
    {% if hasRole('ROLE_ADMIN') %}
      <form method="post" action="/customers/{{ customer.id }}/delete">
        <button type="submit" class="pull-right btn btn-xs btn-danger">Delete bot</button>
      </form>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="/socket.io/socket.io.js"></script>
<script>
var couriers = {{ couriers | dump | safe }};
</script>
<script src="{{ assetURL('js/index.js') }}"></script>
{% if not isProduction() %}
<script src="{{ assetURL('webpack-dev-server.js') }}"></script>
{% endif %}
{% endblock %}