{% extends "layout.njk" %}

{% block content %}
<table class="table">
  {% for app in apps %}
  <tr>
    <td>{{ app.name }}</td>
    <td>{{ app.gpx }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}